<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



<ion-content>
 
  <ion-header collapse="condense">
  </ion-header>
  <div id="container">
   
     
        <div class="col-md-12" id="task">
                <h1 id="title">{{title}}</h1>
            <div class="">
              <div class="input-group" >
                
                  <input id="inputTask" #spy name="task" placeHolder="Add new task..." (keyup.enter)="addTask(taskText)" [(ngModel)]="taskText" [maxlength]="50" class="form-control" required/>
                    
                  <span class="input-group-addon">
                   <button   (click)="addTask(taskText)"  class="btn btn-md  btn-info" style="margin-right: 13px !important;" > <span  class="glyphicon glyphicon-plus" aria-hidden="true" alt="Add"></span></button>
                    <button (click)="reset()" class="btn btn-md btn-info">Clear</button>
                    
                  </span>
              </div>
            
    
              <div *ngIf="errMsg">
                     <p id="errMessage"><strong>oh Sorry ! </strong>{{errMsg}}
                      
                        <span id="errButton">
                             <button class="btn btn-default " (click)="dismiss()" style="margin-right:13px;">Dismiss</button>
                             <button class="btn btn-info " (click)="addAnyWay(taskText)" >Add anyway</button>
                        </span>
                      </p>
                     <br/>
                     
              </div>
            </div>
            <div class="">
                <div *ngIf="Tasks.length > 0">
                  
                   <h4  id="ttcTitle" >Tasks Todo</h4><hr />
                  
                
                  <div class="">
                    <ul class="list-group">
                        
                      <li  *ngFor="let task of Tasks" class="list-group-item taskToComplete"> 
                        <span class="dateTime">{{task.timeStamp |date}} {{task.timeStamp| date:'hh:mm'}}</span>                         
                         <span class="list-group-addon ctrlButtons " >
                              <button class="btn btn-xs btn-default" (click)="showModal(task)" ><span class="glyphicon">&#xe123;</span></button>
                             <button (click)="markAsComplete(task)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button>
                             <button (click)="editTask(task)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                             <button (click)="deleteTask(task)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                         </span><br />
                         {{task.name}}
                      </li>  
                  </ul>
                      </div>
                </div>  
              </div>
                
               
  
  
               
              <div class="">
                <div *ngIf="dTask.length > 0">
                  <h4 style="margin-bottom: -5px;margin-top: 16px; color: #24BFEB;">Completed Tasks </h4><hr/>
                  
                  <ul class="list-group">
                    <li  *ngFor="let task of dTask" class="list-group-item colmpletedTask"> 
                       <span class="dateTime">Completed on:{{task.timeStamp |date}} {{task.timeStamp| date:'hh:mm'}}</span>
                     
                       <span class="list-group-addon" style="float:right">
                         <button (click)="deleteDTask(task)" class="btn  btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                       </span><br />
                        {{task.name}}
                     
                    </li>
                  </ul>
                </div>
              </div>
        </div>       

  </div>

</ion-content>
